@model LearningApp.Models.Departments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Departments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.short_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.short_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleteBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleteBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleteAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleteAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDEleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDEleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
