@model IEnumerable<LearningApp.Models.Departments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.short_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleteBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleteAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDEleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.short_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleteBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleteAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDEleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
